rofi.lines:                 3
rofi.hide-scrollbar:        true
rofi.width:                 30
rofi.terminal:              st
rofi.run-command:           {cmd}
rofi.run-shell-command:     {terminal} -e {cmd}

Xft.antialias:              1
Xft.autohint:               0
Xft.dpi:                    96
Xft.hinting:                1
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb

!st.font:                Inconsolata-g:size=14
!st.bold_font:          0
!st.background:         #131415
!st.foreground:         #A3BAD0
!st.cursorColor:            #8d9b53
!st.termname:           xterm-256color
!st.shell:          /bin/sh
!st.bellvolume:         100
!st.tabspaces:          8
!st.chscale:            1.0
!st.cwscale:            1.0

!st.color0:         #353540
!st.color8:         #545466
!st.color1:         #8c5760
!st.color9:         #b26f7a
!st.color2:         #7b8c58
!st.color10:            #9db270
!st.color3:         #8c6e43
!st.color11:            #b28c55
!st.color4:         #58698c
!st.color12:            #7086b2
!st.color5:         #7b5e7d
!st.color13:            #9c77b2
!st.color6:         #66808c
!st.color14:            #82a2b2
!st.color7:         #8c8b8b
!st.color15:            #b8b8c8

!*foreground: #00cc00
!*foreground_bold: #a8a19f
!*cursor: #a8a19f
!*background:       #1b1918
!!*background: rgba(0, 0, 0, .7)

!! black
!*color0: #1b1918
!*color8: #766e6b
!! red
!*color1: #f22c40
!*color9: #f22c40
!! green
!*color2: #5ab738
!*color10: #5ab738
!! yellow
!*color3: #d5911a
!*color11: #d5911a
!! blue
!*color4: #407ee7
!*color12: #407ee7
!! magenta
!*color5: #6666ea
!*color13: #6666ea
!! cyan
!*color6: #00ad9c
!*color14: #00ad9c
!! white
!*color7: #a8a19f
!*color15: #f1efee
