!## Ignacio Vargas' .Xresources

!# URxvt
URxvt*termName:             screen-256color
URxvt*loginShell:           true
URxvt*scrollTtyKeypress:    true
URxvt*scrollTtyOutput:      false 
URxvt*scrollBar:            false
URxvt*fading:               30

URxvt.font:                 xft:Inconsolata-g:size=12
URxvt.background:           black
URxvt.foreground:           white
URxvt*colorUL:              yellow
URxvt*underlineColor:       yellow
URxvt*scrollColor:          #777777
URxvt*scrollstyle:          plain

URxvt.internalBorder:       0
URxvt.externalBorder:       0

URxvt.url-launcher:         /usr/bin/firefox
