!## URxvt
URxvt*color0:              #101218
URxvt*color1:              #ee829f
URxvt*color2:              #a5ffe1
URxvt*color3:              #ffefcc
URxvt*color4:              #97bbf7
URxvt*color5:              #c0b7f9
URxvt*color6:              #97e0ff
URxvt*color7:              #d1d4e0
URxvt*color8:              #7780a1
URxvt*color9:              #ee829f
URxvt*color10:             #a5ffe1
URxvt*color11:             #ffefcc
URxvt*color12:             #97bbf7
URxvt*color13:             #c0b7f9
URxvt*color14:             #97e0ff
URxvt*color15:             #ffffff
URxvt*color16:             #f99170
URxvt*color17:             #fcc09e
URxvt*color18:             #1f222d
URxvt*color19:             #252936
URxvt*color20:             #C0C5CE
URxvt*color21:             #C9CCDB
URxvt*background:          #101218
URxvt*foreground:          #E6EFF7
URxvt*cursorColor:         #E6EFF7

URxvt.depth:		32
URxvt.internalBorder:      6
URxvt.externalBorder:      0
URxvt.scrollBar:           false
URxvt*fading:              30
URxvt.perl-ext-common:     default,matcher,resize-font,fullscreen
URxvt.keysym.F11:          perl:fullscreen:switch
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger:  C-Up
URxvt.url-launcher:        /usr/bin/firefox
URxvt.keysym.M-Delete:     perl:matcher:list
URxvt.colorUL: #7780a1

URxvt.font:	xft:Inconsolata-g:size=12:antialias=true:hinting=true

!## Emacs
Emacs.font: Inconsolata-g-12

!## Rofi
rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30

